*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /*overflow: hidden;*/
}



.caja{
    display: grid;
    place-items: center;
    height: 100vh;
}

.mod{
    border: 1px solid black;
    width: 200px;
    height: 250px;
    cursor: pointer;
}

img{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    height:90px;
    width:90px;
    transform: translateX(35px)
}

span{
    display: flex;
    flex-direction: column;
}

.zapatilla{
    display: flex;
    align-items: flex-start;
    padding-bottom: 40px;
}

.precio{
    display: flex;
    align-items: flex-start;
}

.precio font{
    border: 1px solid white;
    background-color: white;
    transition-property: span;
    transition-duration: 0.5s;
}

.precio:hover{
    translate: 70px;
    transition-duration: 0.5s ;
}

.fondo{
    background-color: rgb(230, 229, 229);
}


.btn{
    margin-top: 25px;
}


header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: azure;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;

}

.logo{
    padding:10px;
    font-family: 'EB Garamond', serif;
    font-weight: 600;
    font-size: large;
}

.logo a{
    color: black;
}

.nav__menu{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__menu a{
    padding-right: 15px;
    color: black;
    font-size: medium;
}

.nav__, .nav__input{
    display: none;
}

table{
    width: 100%;
}

#tienda{
    width: 25px;
    height: 25px;
}



/*.card{
    position: fixed;
    top: 0;
    right: 100px;
    width: 360px;
    min-height: 100vh;
    padding: 20px;
    background-color: white;
    box-shadow: -2px 0 4px hsl(0 4% 15% / 10%);
    transition: 0.3s;
}

.card.active{
    right: 0;
}

.card-title{
    text-align: center;
    font-size: 1.5rem;
    margin-top: 1.3rem;
}

.card-box{
    display: grid;
    grid-template-columns: 32% 50% 18%;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.card-img{
    width: 100px;
    height: 100px;
    object-fit: contain;
    padding: 25px;
}

.card-price{
    font-weight: 500;
}

.detalle{
    display: grid;
    row-gap: 0.5rem;
}

.card-producto{
    font-size: 1rem;
    text-transform: uppercase;
}

.card-quantity{
    border: 1px solid black;
    outline-color: black;
    width: 2.4rem;
    text-align: center;
    font-size: 1rem;
}

.card-remove{
    font-size: 24px;
    color: black;
    cursor: pointer;
}

#close-card{
    position: absolute;
    top: 1rem;
    right: 0.8rem;
    cursor: pointer;
}*/

#card-container{
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

#card-container table thead {
    font-weight: 700;
}

#card-container table thead td{
    background: violet;
    color: white;
    border: none;
    padding: 6px 0;
}

#card-container table td{
    border: 1px solid gray;
    text-align: center;
}

#card-container table td:nth-child(1){
    width: 100px;
}

#card-container table td:nth-child(2),
#card-container table td:nth-child(3){
    width: 200px;
}

#card-container table td:nth-child(4),
#card-container table td:nth-child(5),
#card-container table td:nth-child(6){
    width: 200px;
}

#card-container table tbody img{
    width: 100px;
    height: 115px;
    object-fit: cover;
}

#card-container table tbody i{
    color: black;
}

#card-container table {

}

i{
    cursor: pointer;
}

ul li{
    list-style-type: none;
}

a{
    text-decoration: none;
}

h1{
    font-size: large;
    font-weight: 400;
    border-bottom: 1px solid black;
    padding-left: auto;
    margin-right: auto;


}

.img{
    width: 125px;
    height: 125px;
}

.catalogo{
    display: grid;
    place-items: center;
    grid-template-columns: repeat(4, 1fr);
}

footer{
    background: gray;
    display: flex;
    justify-content: space-evenly;
    padding: 15px;
    align-items: center;
}



#catalogos{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 100px;
    padding-top: 100px;
}

#verCarrito{
    cursor: pointer;
}


.mod{
    padding: auto;
    margin: auto
}


